<div class="">
    <div class="relative">
        <input
            [type]="isPasswordVisible ? 'text' : 'password'"
            class="text-[var(--input-text)] bg-[var(--input-bg)] border border-[var(--input-border)]  rounded-lg block w-full p-2.5"
            placeholder="Enter password"
            [value]="value"
            (input)="onInput($event)"
            [disabled]="isDisabled"
        />
        <button
            (click)="togglePasswordVisibility()"
            class="absolute inset-y-0 end-0 flex items-center z-20 px-3 cursor-pointer rounded-e-md"
        >
            @if(isPasswordVisible) {
            <svg
                class="shrink-0 size-3.5 text-[var(--input-text)]"
                width="25"
                height="24"
                stroke="currentColor"
                viewBox="0 0 25 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M12.0234 7.625C9.60719 7.625 7.64844 9.58375 7.64844 12C7.64844 14.4162 9.60719 16.375 12.0234 16.375C14.4397 16.375 16.3984 14.4162 16.3984 12C16.3984 9.58375 14.4397 7.625 12.0234 7.625ZM9.14844 12C9.14844 10.4122 10.4356 9.125 12.0234 9.125C13.6113 9.125 14.8984 10.4122 14.8984 12C14.8984 13.5878 13.6113 14.875 12.0234 14.875C10.4356 14.875 9.14844 13.5878 9.14844 12Z"
                    fill="#323544"
                />
                <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M12.0234 4.5C7.71145 4.5 3.99772 7.05632 2.30101 10.7351C1.93091 11.5375 1.93091 12.4627 2.30101 13.2652C3.99772 16.9439 7.71145 19.5002 12.0234 19.5002C16.3353 19.5002 20.049 16.9439 21.7458 13.2652C22.1159 12.4627 22.1159 11.5375 21.7458 10.7351C20.049 7.05633 16.3353 4.5 12.0234 4.5ZM3.66311 11.3633C5.12472 8.19429 8.32017 6 12.0234 6C15.7266 6 18.922 8.19429 20.3836 11.3633C20.5699 11.7671 20.5699 12.2331 20.3836 12.6369C18.922 15.8059 15.7266 18.0002 12.0234 18.0002C8.32017 18.0002 5.12472 15.8059 3.66311 12.6369C3.47688 12.2331 3.47688 11.7671 3.66311 11.3633Z"
                    fill="#323544"
                />
            </svg>
            } @else {
            <svg
                class="shrink-0 size-3.5 text-[var(--input-text)]"
                width="25"
                height="24"
                viewBox="0 0 25 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <path
                    class="hs-password-active:hidden"
                    d="M9.88 9.88a3 3 0 1 0 4.24 4.24"
                ></path>
                <path
                    class="hs-password-active:hidden"
                    d="M10.73 5.08A10.43 10.43 0 0 1 12 5c7 0 10 7 10 7a13.16 13.16 0 0 1-1.67 2.68"
                ></path>
                <path
                    class="hs-password-active:hidden"
                    d="M6.61 6.61A13.526 13.526 0 0 0 2 12s3 7 10 7a9.74 9.74 0 0 0 5.39-1.61"
                ></path>
                <line
                    class="hs-password-active:hidden"
                    x1="2"
                    x2="22"
                    y1="2"
                    y2="22"
                ></line>
                <path
                    class="hidden hs-password-active:block"
                    d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"
                ></path>
                <circle
                    class="hidden hs-password-active:block"
                    cx="12"
                    cy="12"
                    r="3"
                ></circle>
            </svg>
            }
        </button>
    </div>
</div>
