<ion-content [fullscreen]="true" class="m-0">
    <div class="flex items-center justify-center h-full">
        <div class=" w-full p-5">

            <div class="text-center text-[1.1rem] font-bold text-[var(--content-text)] mb-4">
                <h3>Reset your password</h3>
            </div>

            <div class="mb-3">
                <img class="mx-auto" src="/assets/logo.png" alt="" />
            </div>

            <div class="mx-auto">
                <div class="mb-5">
                    <label class="block mb-1 text-sm font-medium text-[var(--content-text)]"
                        >Old password</label
                    >
                    <input
                        [(ngModel)]="oldPassword"
                        type="password"
                        id="password"
                        class="bg-[var(--input-bg)] border border-[var(--input-border)] text-[var(--content-text)] text-sm rounded-lg block w-full p-2.5"
                        placeholder="*******"
                    />

                    @if(submitted === true && verifyPassword === false) {
                    <small class="text-red-500">Old password is incorrect</small>
                    } 
                </div>

                <div class="mb-5">
                    <label class="block mb-1 text-sm font-medium text-[var(--content-text)]"
                        >Set new password</label
                    >
                    <input
                        [(ngModel)]="newPassword"
                        type="password"
                        id="password"
                        class="bg-[var(--input-bg)] border border-[var(--input-border)] text-[var(--content-text)] text-sm rounded-lg block w-full p-2.5"
                        placeholder="*******"
                    />

                    @if(submitted === true && !newPassword) {
                    <small class="text-red-500">Password is required</small>
                    } @else if(submitted === true && newPassword.length < 8) {
                    <small class="text-red-500"
                        >Password must be at least 8 characters</small
                    >
                    }
                </div>

                <div class="mb-5">
                    <label class="block mb-1 text-sm font-medium text-[var(--content-text)]"
                        >Confirm password</label
                    >
                    <input
                        [(ngModel)]="confirmPassword"
                        type="password"
                        id="password"
                        class="bg-[var(--input-bg)] border border-[var(--input-border)] text-[var(--input-text)] text-sm rounded-lg block w-full p-2.5"
                        placeholder="*******"
                    />

                    @if(submitted === true && !confirmPassword) {
                    <small class="text-red-500"
                        >Confirm password is required</small
                    >
                    } @else if(submitted === true && newPassword !==
                    confirmPassword) {
                    <small class="text-red-500"
                        >Confirm password is not match</small
                    >
                    }
                </div>

                <button
                    (click)="setNewPassword()"
                    type="submit"
                    class="mb-2 text-[var(--btn-text)] bg-[var(--btn-bg)] hover:bg-[var(--btn-bg-hover)] font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
                >
                    Submit
                </button>
            </div>
        </div>
    </div>
</ion-content>
